<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <strong>Seja bem-vindo! {{nome}}</strong>
    <p>Obrigado por se cadastrar em nosso site de controle de treinamentos.</p>
    <br>
    <p>Esperamos que você tenha uma ótima experiência aqui.</p>
    <br>
    <ul>
        <strong>Funcionalidades:</strong>
        <li>Funcionalidade 1</li>
        <li>Funcionalidade 2</li>
        <li>Funcionalidade 3</li>
    </ul>
    <p>Atenciosamente,</p>
    <p>Equipe de desenvolvimento</p>
    <br>
    <p>Este é um e-mail automático, por favor, não responda.</p>
</body>
</html>