{% extends "global/base.html" %}

{% block content %}

<div class="container-lg mt-3">
    <h1>Cadastrar Colaborador</h1>
    <form method="post">
        {% csrf_token %}
        <div>
            <label for="nome">Nome:</label>
            <input type="text" id="nome" name="nome" required>
        </div>
        <div>
            <label for="cpf">CPF:</label>
            <input type="text" id="cpf" name="cpf" required>
        </div>
        <div>
            <label for="eh_terceiro">Tipo Funcionário</label>
            <select name="eh_terceiro" id="eh-terceiro">
                <option value="True">Terceiro</option>
                <option value="False">Próprio</option>
            </select>
        </div>
        <div>
            <label for="cargo">Cargo:</label>
            <input type="text" id="cargo" name="cargo" required>
        </div>
        <button type="submit" class="btn btn-primary">Cadastrar</button>
    </form>
</div>
{% endblock content %}