header {
    background-color: #333;
    color: #fff;
    height: 60px;
}

header nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

header nav ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav ul li {
    margin-right: 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 20px;
    border-radius: 4px;
    transition: background-color 0.2s ease;
}

header nav ul li a.active {
    background-color: #9f9f9f;
}

header nav ul li a:hover {
    background-color: #555;
}